.example-wrapper {
  position: relative;

  .spinner {
    height: 48px;
    width: 48px;
    color: rgb(53, 129, 191) !important;
    position: absolute;
    left: calc(50% - 48px);
    top: calc(50% - 48px);
    display: inline-block;
    border: 5px solid;
    border-radius: 50%;
    border-right-color: #1b4176;
    animation: rotate 1s linear infinite;
    z-index: 9;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader-remove-bg {
  background-color: transparent !important;
}

.loader-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;

  .sm {
    width: 40px !important;
    height: 40px !important;
  }

  .sm div {
    width: 40px !important;
    height: 40px !important;
    margin: 0px !important;
  }

  .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }

  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    margin: 8px;
    border: 5px solid #242729;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #242729 transparent transparent transparent;
  }

  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }

  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }

  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }

  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}